:root {
  --header-color: #212121;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-backgrond: #2f303a;
  --footer-background: #2f303a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
