.third-section {
  padding-bottom: 94px;
}

.about-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-evenly;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover .about-picture-text {
    transform: translateY(0);
  }
}

.about-list-wrap {
  position: relative;
}

.about-picture-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px 27px 83px;
  width: 100%;
}
