.header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.burger-btn-icon {
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.close-btn-icon {
}

.main-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.main-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms var(--cubic);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.main-nav {
  align-items: center;
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.main-nav__link.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -32px;
  display: block;
}

.header-icon {
  margin-right: 8px;
  fill: #757575;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts-list {
  display: block;
  margin-left: auto;
  fill: var(--accent-color);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1199px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.contacts-list__item {
  display: flex;
  fill: var(--accent-color);
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header__tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .header-icon,
  &:focus .header-icon {
    fill: var(--accent-color);
  }
}

.header__tel-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .header-icon,
  &:focus .header-icon {
    fill: var(--accent-color);
  }
}

.header__mail-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.mobile-wrapper {
  margin-bottom: 302px;
}
.mobile-nav {
}
.mobile-nav__list {
}
.mobile-nav__item {
}

.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts-wrapper {
}
.mobile-contacts-list {
  margin-bottom: 64px;
}
.mobile-contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile__mail {
}
.mobile__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-icon {
}
.mobile__tel {
}
.mobile__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-icon {
}
.mobile-social-list {
  display: flex;
}
.mobile-social-item {
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
