.work-examples-list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.work-examples-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.work-examples-wrap {
  position: relative;
}
.work-examples-link {
  // color: inherit;
}

.work-examples-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.work-examples-img {
  max-width: 100%;
  @media screen and(min-width:768px) {
    max-width: 354px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 370px;
  }
}

.work-examples-wrap:hover .work-examples-picture-text {
  transform: translateY(0%);
}

.work-examples-picture-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  // max-width: 450px;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 370px;
  }

  .work-examples-box:hover &,
  .work-examples-box:focus & {
    transform: translateY(0%);
  }
}

.work-examples-description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  background-color: #ffffff;
  max-width: 450px;

  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
  }
}

.work-examples-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}

.work-examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
